* {
    padding: 0%;
    margin: 0%;
    font-family: ;
    box-sizing: border-box;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(images/istockphoto-1326304939-612x612.jpg);
}